th{
    cursor: pointer;
}

.invalid-feedback-manual{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

table tbody tr:nth-child(even) {
    background-color: #e6e6e5 !important;
}

table tbody tr td {
    height: 1px !important;
}

