<ngx-loading-bar></ngx-loading-bar>
<div class="container mt-4 bg-dark mb-4">
    <div class="row pt-2">
        <div class="col-lg-1 col-md-2 col-3">
            <button type="button" class="btn btn-block btn-warning text-light "
                    title="Back" (click)="onBack()"><i class="fas fa-arrow-circle-left fa-lg"></i></button>
        </div>
        <div class="col-lg-1 col-md-2 col-3">
            <button type="button" class="btn btn-block btn-success text-light"
                    *ngIf="pageStatus === 'view'"
                    title="Edit" (click)="onModify()">
                <i class="fas fa-edit fa-lg"></i></button>
        </div>
        <div class="col-lg-1 col-md-2 col-3">
            <button type="button" class="btn btn-block btn-primary text-light"
                    *ngIf="pageStatus === 'view'"
                    title="Print invoice" (click)="onPrintInvoice()">
                <i class="fas fa-print fa-lg"></i></button>
        </div>
        <div class="col-lg-1 col-md-2 col-3">
            <button type="button" class="btn btn-block btn-danger text-light"
                    *ngIf="pageStatus === 'view'"
                    title="Download invoice PDF" (click)="onDownloadInvoice()">
                <i class="fas fa-file-pdf fa-lg"></i></button>
        </div>
        <div class="col-lg-1 col-md-2 col-3">
            <button type="button" class="btn btn-block btn-info text-light"
                    *ngIf="pageStatus === 'view'"
                    title="Open Invoice in browser" (click)="onOpenInvoice()">
                <i class="fab fa-chrome fa-lg"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="text-light pt-1">{{pageTitle}}</h3>
        </div>
    </div>
    <form class="pl-2 pr-2 mt-1 bg-dark border-dark border" [formGroup]="fillForm" (ngSubmit)="onSubmit()">
        <div class="border border-light"> <!--Date and Invoice Number-->
            <div class="form-row mt-2 text-light pl-2 pr-2">
                <div class="col-lg-4 col-6 pb-2">
                    <label for="date" class="col-form-label">Date*</label>
                    <div class="input-group" [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary text-light"
                                    title="Calendar" (click)="d.toggle()"
                                    [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                        <input id="date" formControlName="date" class="form-control" placeholder="YYYY-MM-DD"
                               ngbDatepicker #d="ngbDatepicker" (dateSelect)="onSetYear()"  (change)="onSetYear()"
                               [ngClass]="{ 'is-invalid': f.date.touched && f.date.invalid,
                                    'is-valid': f.date.valid}">
                        <div *ngIf="f.date.touched && f.date.errors?.required" class="invalid-feedback">
                            Date is mandatory
                        </div>
                        <div *ngIf="f.date.touched && f.date.errors?.pattern" class="invalid-feedback">
                            Accepted format is YYYY-MM-DD
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 offset-lg-2">
                    <label for="invoiceNo" class="col-form-label">Invoice Number*</label>
                    <input id="invoiceNo" formControlName="invoice_number" class="form-control"
                           [ngClass]="{ 'is-invalid': f.invoice_number.touched && f.invoice_number.invalid,
                                    'is-valid': f.invoice_number.valid}"
                           [attr.disabled] = "pageStatus === 'view' || pageStatus === 'modify' ? 'disabled' : null">
                    <div *ngIf="f.invoice_number.touched && f.invoice_number.errors?.required" class="invalid-feedback">
                        Invoice number is mandatory
                    </div>
                    <div *ngIf="f.invoice_number.touched && f.invoice_number.errors?.pattern" class="invalid-feedback">
                        Invoice number should be ended by number
                    </div>
                </div>
                <input formControlName="year" class="form-control" hidden>
                <input formControlName="user_id" class="form-control" hidden>
                <input formControlName="id" class="form-control" hidden>
            </div>
        </div> <!--Date and Invoice Number-->
        <div class="border border-light mt-1">  <!--Company Information-->
            <div class="form-row mt-2 text-light pl-2 pr-2">
                <div class="col-lg-4 col-md-6">
                    <label for="companyID" class="col-form-label">Company Information*</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-success text-light float-right"
                                    title="Add new company" (click)="onAddCompany()"
                                    [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </div>
                        <select id="companyID" class="form-control" formControlName="company_id"
                                (change)="onLoadCompanyData($event.target.value)"
                                (change)="onSetUserId()"
                                [ngClass]="{ 'is-invalid': f.company_id.touched && f.company_id.invalid,
                                    'is-valid': f.company_id.valid}"
                                [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            <option *ngFor="let company of companyList" value="{{company.id}}">{{company.name}}</option>
                        </select>
                        <div *ngIf="f.company_id.touched && f.company_id.invalid" class="invalid-feedback">
                            This field is mandatory, please select one option
                        </div>
                    </div>
                </div>
                <div class="offset-lg-4 col-lg-4 col-md-6">
                    <img [src]=imgUrl  class="img-thumbnail img" alt="" style="height: 100px"  />
                </div>
            </div>
            <div class="form-row text-light mt-2 pl-2 pr-2">
                <div class="col-lg-8 col-md-12">
                    <p class="font-weight-bold">Address: {{companyInfo.address}}</p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <p class="font-weight-bold">Phone: {{companyInfo.phone}}</p>
                </div>
            </div>
            <div class="form-row text-light pl-2 pr-2">
                <div class="col-6">
                    <p class="font-weight-bold">Email: {{companyInfo.email}}</p>
                </div>
                <div class="col-6">
                    <p class="font-weight-bold">Website: {{companyInfo.website}}</p>
                </div>
            </div>
            <div class="form-row text-light pl-2 pr-2">
                <div class="col-6">
                    <p class="font-weight-bold">GST No.: {{companyInfo.gst_no}}</p>
                </div>
                <div class="col-6">
                    <p class="font-weight-bold">Business No.: {{companyInfo.business_no}}</p>
                </div>
            </div>
        </div> <!--Company Information-->
        <div class="border border-light mt-1">  <!--Customer Information-->
            <div class="form-row mt-2 text-light pl-2 pr-2">
                <div class="col-lg-4 col-md-6">
                    <label for="customerID" class="col-form-label">Customer Information*</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-success text-light float-right"
                                    title="Add new customer" (click)="onAddCustomer()"
                                    [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </div>
                        <select id="customerID" class="form-control" formControlName="customer_id"
                                (change)="onLoadCustomerData($event.target.value)"
                                [ngClass]="{ 'is-invalid': f.customer_id.touched && f.customer_id.invalid,
                                    'is-valid': f.customer_id.valid}"
                                [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            <option *ngFor="let customer of customerList" value="{{customer.id}}">{{customer.name}}</option>
                        </select>
                        <div *ngIf="f.customer_id.touched && f.customer_id.invalid" class="invalid-feedback">
                            This field is mandatory, please select one option
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row text-light mt-2 pl-2 pr-2">
                <div class="col-lg-12 col-md-12">
                    <p class="font-weight-bold">Address: {{customerInfo.address}}</p>
                </div>
            </div>
            <div class="form-row text-light pl-2 pr-2">
                <div class="col-6">
                    <p class="font-weight-bold">Email: {{customerInfo.email}}</p>
                </div>
                <div class="col-6">
                    <p class="font-weight-bold">Phone: {{customerInfo.phone}}</p>
                </div>
            </div>
        </div> <!--Customer Information-->
        <form [formGroup]="fillFormRows" (ngSubmit)="onSubmit()" class="border border-light mt-1"> <!--Invoice Rows-->
            <div formArrayName="invoiceRows"
                 *ngFor="let rows of fillFormRows.get('invoiceRows')['controls']; let i = index;">
                <div [formGroupName]="i" class="border-bottom border-info pb-2">
                    <div class="form-row text-light pl-2 pr-2">
                        <div class="col-lg-4 col-12">
                            <label for="{{'description'+i}}" class="col-form-label">Description*</label>
                            <input formControlName="description" id="{{'description'+i}}"
                                   class="form-control" [ngbTypeahead]="searchDescription"
                                   (change)="onSetInvoiceRowUserId(i)"
                                   [ngClass]="{ 'is-invalid': s.at(i).get('description').touched
                                   && s.at(i).get('description').invalid,
                                    'is-valid': s.at(i).get('description').valid}"
                                   [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            <div *ngIf="s.at(i).get('description').touched &&
                            s.at(i).get('description').errors?.required" class="invalid-feedback">
                                Description is mandatory
                            </div>
                            <div *ngIf="s.at(i).get('description').touched &&
                            (s.at(i).get('description').errors?.maxlength || s.at(i).get('description').errors?.pattern)"
                                 class="invalid-feedback">
                                Maximum allowed characters is 70 and some special characters are not allowed
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label for="{{'comment'+i}}" class="col-form-label">Comment</label>
                            <input formControlName="comment" id="{{'comment'+i}}" class="form-control"
                                   [ngbTypeahead]="searchComment"
                                   [ngClass]="{ 'is-invalid': s.at(i).get('comment').touched
                                   && s.at(i).get('comment').invalid,
                                    'is-valid': s.at(i).get('comment').valid}"
                                   [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            <div *ngIf="s.at(i).get('comment').touched &&
                            (s.at(i).get('comment').errors?.maxlength || s.at(i).get('comment').errors?.pattern)"
                                 class="invalid-feedback">
                                Maximum allowed characters is 70 and some special characters are not allowed
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <label for="{{'unitPrice'+i}}" class="col-form-label">Unit Price*</label>
                            <input formControlName="unit_price" id="{{'unitPrice'+i}}" class="form-control text-right"
                                   type="text" placeholder="0.00" (change)="onCurrencyShow($event.target.value, i)"
                                   (input)="onRowTotal(i)" (focusout)="onCurrencyShow($event.target.value, i)"
                                   [ngClass]="{ 'is-invalid': s.at(i).get('unit_price').touched
                                   && s.at(i).get('unit_price').invalid,
                                    'is-valid': s.at(i).get('unit_price').valid}"
                                   [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            <div *ngIf="s.at(i).get('unit_price').touched &&
                            s.at(i).get('unit_price').errors?.required" class="invalid-feedback">
                                Unit price is mandatory
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <label for="{{'quantity'+i}}" class="col-form-label">Quantity*</label>
                            <input formControlName="quantity" id="{{'quantity'+i}}" class="form-control"
                                   (input)="onRowTotal(i)" (change)="onNumberCorrection($event.target.value, i)"
                                   (focusout)="onNumberCorrection($event.target.value, i)"
                                   [ngClass]="{ 'is-invalid': s.at(i).get('quantity').touched
                                   && s.at(i).get('quantity').invalid,
                                    'is-valid': s.at(i).get('quantity').valid}"
                                   [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            <div *ngIf="s.at(i).get('quantity').touched &&
                            s.at(i).get('quantity').errors?.required" class="invalid-feedback">
                                Quantity is mandatory
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-light pl-2 pr-2">
                        <div class="col-lg-2 col-4">
                            <label for="{{'unitMeasure'+i}}" class="col-form-label">Unit Measure</label>
                            <input formControlName="unit_measure" id="{{'unitMeasure'+i}}" class="form-control"
                                   [ngbTypeahead]="searchUnitMeasure"
                                   [ngClass]="{ 'is-invalid': s.at(i).get('unit_measure').touched
                                   && s.at(i).get('unit_measure').invalid,
                                    'is-valid': s.at(i).get('unit_measure').valid}"
                                   [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            <div *ngIf="s.at(i).get('unit_measure').touched &&
                            (s.at(i).get('unit_measure').errors?.maxlength || s.at(i).get('unit_measure').errors?.pattern)"
                                 class="invalid-feedback">
                                Maximum allowed characters is 10 and some special characters are not allowed
                            </div>
                        </div>
                        <div class="col-lg-3 col-5">
                            <label class="col-form-label">Total</label>
                            <input class="font-weight-bold form-control text-right" id="{{'rowTotal'+i}}" disabled
                                   value="{{rowTotalString[i]}}">
                        </div>
                        <div class="col-lg-1 col-2 offset-lg-6 offset-1 align-self-end">
                              <button type="button" class="btn btn-block btn-danger text-light btn-sm"                                    title="Remove invoice line"
                                (click)="onRemoveLine(i)"
                                      [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                  <i class="fas fa-minus-square fa-lg"></i>
                              </button>
                        </div>
                    </div>
                    <input formControlName="inx" class="form-control" hidden>
                    <input formControlName="invoice_id" class="form-control" hidden>
                    <input formControlName="user_id" class="form-control" hidden>
                    <input formControlName="id" class="form-control" hidden>
                </div>
            </div>
            <div class="form-row text-light pl-2 pt-2 pb-2 ">
                <div class="col-lg-1 col-2">
                    <button type="button" class="btn btn-block btn-success text-light btn-sm"
                            title="Add new invoice line"
                            (click)="onAddLine()"
                            [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                        <i class="fas fa-plus fa-lg"></i></button>
                </div>
            </div>
        </form> <!--Invoice Rows-->
        <div class="border border-light mt-1"> <!--Summery Part-->
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2">
                <div class="col-1">
                    <button type="button" class="btn btn-primary" (click)="onSettingCall()" title="Invoice setting">
                        <i class="fas fa-user-cog"></i></button>
                </div>
                <div class="offset-lg-3 col-lg-2 col-3 text-right">
                    <label class="col-form-label">Sub-Total</label>
                </div>
                <div class="col-lg-4 col-6 offset-lg-2 offset-2 text-light">
                    <input type="text" class="form-control font-weight-bold text-right" disabled
                           value="{{invoiceSubTotal}}">
                </div>
            </div>
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2" *ngIf="invoiceSettingElements.deduction1status == 1"> <!-- Deduction 1 -->
                <div class="offset-lg-4 col-lg-2 col-3 text-right">
                    <label for="deduction1" class="col-form-label ">{{invoiceSettingElements.deduction1label}}</label>
                </div>
                <div class="col-lg-2 col-3">
                    <input type="text" class="form-control" [attr.disabled]="true" id="deduction1"
                           value="{{invoiceSettingElements.deduction1type === 'D1P' ? 'Percentage' : 'Flat Rate'}}">
                </div>
                <div class="col-lg-2 col-3" *ngIf="invoiceSettingElements.deduction1type === 'D1P'">
                    <input type="text" class="form-control" formControlName="deduction1Percentage"
                           [attr.disabled]="invoiceSettingElements.deduction1type === 'D1P' ? 'disabled' : null ||
                                            pageStatus === 'view' ? 'disabled' : null"

                    value="{{invoiceSettingElements.deduction1percentage}}">
                </div>
                <div class="col-lg-2 col-3"
                     [ngClass]="{'offset-lg-2 offset-3': invoiceSettingElements.deduction1type === 'D1F'}">
                    <input type="text" class="form-control" formControlName="deduction1"
                           [attr.disabled]="invoiceSettingElements.deduction1type === 'D1P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           (change)="showFormControlName(f.deduction1)">
                </div>
            </div> <!-- Deduction 1 -->
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2" *ngIf="invoiceSettingElements.deduction2status == 1"> <!-- Deduction 2 -->
                <div class="offset-lg-4 col-lg-2 col-3 text-right">
                    <label for="deduction2" class="col-form-label ">{{invoiceSettingElements.deduction2label}}</label>
                </div>
                <div class="col-lg-2 col-3">
                    <input type="text" class="form-control" [attr.disabled]="true" id="deduction2"
                           value="{{invoiceSettingElements.deduction2type === 'D2P' ? 'Percentage' : 'Flat Rate'}}">
                </div>
                <div class="col-lg-2 col-3" *ngIf="invoiceSettingElements.deduction2type === 'D2P'">
                    <input type="text" class="form-control" formControlName="deduction2Percentage"
                           [attr.disabled]="invoiceSettingElements.deduction2type === 'D2P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           value="{{invoiceSettingElements.deduction2percentage}}">
                </div>
                <div class="col-lg-2 col-3"
                     [ngClass]="{'offset-lg-2 offset-3': invoiceSettingElements.deduction2type === 'D2F'}">
                    <input type="text" class="form-control" formControlName="deduction2"
                           [attr.disabled]="invoiceSettingElements.deduction2type === 'D2P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           (change)="showFormControlName(f.deduction2)">
                </div>
            </div> <!-- Deduction 2 -->
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2" *ngIf="invoiceSettingElements.addition1status == 1"> <!-- Addition 1 -->
                <div class="offset-lg-4 col-lg-2 col-3 text-right">
                    <label for="addition1" class="col-form-label ">{{invoiceSettingElements.addition1label}}</label>
                </div>
                <div class="col-lg-2 col-3">
                    <input type="text" class="form-control" [attr.disabled]="true" id="addition1"
                           value="{{invoiceSettingElements.addition1type === 'A1P' ? 'Percentage' : 'Flat Rate'}}">
                </div>
                <div class="col-lg-2 col-3" *ngIf="invoiceSettingElements.addition1type === 'A1P'">
                    <input type="text" class="form-control" formControlName="addition1Percentage"
                           [attr.disabled]="invoiceSettingElements.addition1type === 'A1P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           value="{{invoiceSettingElements.addition1percentage}}">
                </div>
                <div class="col-lg-2 col-3"
                     [ngClass]="{'offset-lg-2 offset-3': invoiceSettingElements.addition1type === 'A1F'}">
                    <input type="text" class="form-control" formControlName="addition1"
                           [attr.disabled]="invoiceSettingElements.addition1type === 'A1P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           (change)="showFormControlName(f.addition1)">
                </div>
            </div> <!-- Addition 1 -->
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2" *ngIf="invoiceSettingElements.addition2status == 1"> <!-- Addition 2 -->
                <div class="offset-lg-4 col-lg-2 col-3 text-right">
                    <label for="addition2" class="col-form-label ">{{invoiceSettingElements.addition2label}}</label>
                </div>
                <div class="col-lg-2 col-3">
                    <input type="text" class="form-control" [attr.disabled]="true" id="addition2"
                           value="{{invoiceSettingElements.addition2type === 'A2P' ? 'Percentage' : 'Flat Rate'}}">
                </div>
                <div class="col-lg-2 col-3" *ngIf="invoiceSettingElements.addition2type === 'A2P'">
                    <input type="text" class="form-control" formControlName="addition2Percentage"
                           [attr.disabled]="invoiceSettingElements.addition2type === 'A2P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           value="{{invoiceSettingElements.addition2percentage}}">
                </div>
                <div class="col-lg-2 col-3"
                     [ngClass]="{'offset-lg-2 offset-3': invoiceSettingElements.addition2type === 'A2F'}">
                    <input type="text" class="form-control" formControlName="addition2"
                           [attr.disabled]="invoiceSettingElements.addition2type === 'A2P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           (change)="showFormControlName(f.addition2)">
                </div>
            </div> <!-- Addition 2 -->
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2" *ngIf="invoiceSettingElements.addition3status == 1"><!-- Addition 3 -->
                <div class="offset-lg-4 col-lg-2 col-3 text-right">
                    <label for="addition3" class="col-form-label ">{{invoiceSettingElements.addition3label}}</label>
                </div>
                <div class="col-lg-2 col-3">
                    <input type="text" class="form-control" [attr.disabled]="true" id="addition3"
                           value="{{invoiceSettingElements.addition3type === 'A3P' ? 'Percentage' : 'Flat Rate'}}">
                </div>
                <div class="col-lg-2 col-3" *ngIf="invoiceSettingElements.addition3type === 'A3P'">
                    <input type="text" class="form-control" formControlName="addition3Percentage"
                           [attr.disabled]="invoiceSettingElements.addition3type === 'A3P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           value="{{invoiceSettingElements.addition3percentage}}">
                </div>
                <div class="col-lg-2 col-3"
                     [ngClass]="{'offset-lg-2 offset-3': invoiceSettingElements.addition3type === 'A3F'}">
                    <input type="text" class="form-control" formControlName="addition3"
                           [attr.disabled]="invoiceSettingElements.addition3type === 'A3P' ? 'disabled' : null ||
                            pageStatus === 'view' ? 'disabled' : null"
                           (change)="showFormControlName(f.addition3)">
                </div>
            </div> <!-- Addition 3 -->
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2">
                <div class="offset-lg-4 col-lg-2 col-3 text-right">
                    <label class="col-form-label">Total</label>
                </div>
                <div class="col-lg-4 col-6 offset-lg-2 offset-3 text-light">
                    <input type="text" class="form-control font-weight-bold text-right" disabled
                           value="{{invoiceTotal}}">
                </div>
            </div>
        </div> <!--Summery Part-->
        <div class="border border-light mt-1"> <!--Invoice Note-->
            <div class="form-row text-light pl-2 pr-2 pt-2 pb-2">
                <div class="col-12">
                    <label for="notes" class="col-form-label">Notes</label>
                    <textarea id="notes" class="form-control" rows="10" formControlName="note" rows="3"
                              [ngClass]="{ 'is-invalid': f.note.touched && f.note.invalid,
                                    'is-valid': f.note.valid}"
                              [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null"></textarea>
                    <div *ngIf="f.note.touched && f.note.invalid" class="invalid-feedback">
                        Maximum allowed characters is 256
                    </div>
                </div>
            </div>
        </div> <!--Invoice Note-->
        <div class="form-group row mt-1"> <!--Submission-->
            <div class="col-md-2 offset-md-5 col-4 offset-4 text-center">
                <button type="submit" class="btn btn-primary btn-block"
                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">{{pageStatus === 'modify' ? 'Modify' : 'Register'}}</button>
            </div>
            <div class="col-md-5 col-12">
                <div *ngIf="submitMessageStatusFail" class="invalid-feedback-manual text-center">
                    {{ submitMessage }}
                </div>
                <div *ngIf="submitMessageStatusSuccess" class="valid-feedback-manual text-center">
                    {{ submitMessage }}
                </div>
            </div>
        </div> <!--Submission-->
    </form>
</div>
<!--Setting Modal-->
<div class="modal fade" id="modalSetting" tabindex="-1" role="dialog" aria-labelledby="modalSetting" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="modalMessageTitle">Invoice Setting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="settingForm">
                        <div class="form-row text-dark font-weight-bold">
                            <div class="col-1">
                                <label class="col-form-label">Show</label>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label">Default Label</label>
                            </div>
                            <div class="col-4">
                                <label class="col-form-label">New Label</label>
                            </div>
                            <div class="col-3">
                                <label class="col-form-label">Type</label>
                            </div>
                            <div class="col-2">
                                <label  class="col-form-label">Percentage</label>
                            </div>
                        </div>
                        <div class="form-row text-dark">
                            <div class="col-1">
                                <div class="form-check justify-content-center align-content-center text-center">
                                    <input type="checkbox" class="form-check-input mt-3 "
                                           formControlName="deduction1status" value="0"
                                           [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                    <input type="text" formControlName="invoice_id" hidden>
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label">Discount 1</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="deduction1label"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                            <div class="col-3">
                                <select class="form-control" formControlName="deduction1type"
                                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                    <option value="D1P">%</option>
                                    <option value="D1F">Flat Rate</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" formControlName="deduction1percentage"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                        </div>
                        <div class="form-row text-dark">
                            <div class="col-1">
                                <div class="form-check justify-content-center align-content-center text-center">
                                    <input type="checkbox" class="form-check-input mt-3 "
                                           formControlName="deduction2status" [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label">Discount 2</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="deduction2label"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                            <div class="col-3">
                                <select class="form-control" formControlName="deduction2type"
                                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                    <option value="D2P">%</option>
                                    <option value="D2F">Flat Rate</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" formControlName="deduction2percentage"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                        </div>
                        <div class="form-row text-dark">
                            <div class="col-1">
                                <div class="form-check justify-content-center align-content-center text-center">
                                    <input type="checkbox" class="form-check-input mt-3 "
                                           formControlName="addition1status"
                                           [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label">Tax 1</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="addition1label"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                            <div class="col-3">
                                <select class="form-control" formControlName="addition1type"
                                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                    <option value="A1P">%</option>
                                    <option value="A1F">Flat Rate</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" formControlName="addition1percentage"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                        </div>
                        <div class="form-row text-dark">
                            <div class="col-1">
                                <div class="form-check justify-content-center align-content-center text-center">
                                    <input type="checkbox" class="form-check-input mt-3 "
                                           formControlName="addition2status" [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label">Tax 2</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="addition2label"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                            <div class="col-3">
                                <select class="form-control" formControlName="addition2type"
                                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                    <option value="A2P">%</option>
                                    <option value="A2F">Flat Rate</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" formControlName="addition2percentage"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                        </div>
                        <div class="form-row text-dark">
                            <div class="col-1">
                                <div class="form-check justify-content-center align-content-center text-center">
                                    <input type="checkbox" class="form-check-input mt-3 "
                                           formControlName="addition3status" [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label">Tax 3</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="addition3label"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                            <div class="col-3">
                                <select class="form-control" formControlName="addition3type"
                                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                    <option value="A3P">%</option>
                                    <option value="A3F">Flat Rate</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" formControlName="addition3percentage"
                                       [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                            </div>
                        </div>
                        <div class="form-row text-dark">
                            <div class="col-3">
                                <label class="col-form-label">Currency</label>
                            </div>
                            <div class="col-4">
                                <select class="form-control" #ch formControlName="currency" id="currency"
                                        (change)= "changeCurrency(ch.value)"
                                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">
                                    <option *ngFor="let cr of currency" value="{{cr.currencyCode}}">
                                        {{cr.currencyName}}</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <p>{{selectedCurrencyCode}} {{selectedCurrencySymbol}}
                                    <img src="{{selectedCurrencyImage}}" alt="" class="rounded "></p>
                            </div>
                        </div>
                        <div class="form-row text-dark mt-1">
                            <p>* Discount 1  is calculated based on Sub-Total amount<br>
                               * Discount 2  is calculated based on Sub-Total - Discount 1<br>
                               * Tax 1, Tax 2 and Tax 3 is calculated based on Sub-Total - Discount 1 - Discount 2</p>

                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancelSetting()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSaveSetting()"
                        [attr.disabled] = "pageStatus === 'view' ? 'disabled' : null">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Setting Modal-->

