<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#"><img src="../assets/logo.png" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="companyDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Company
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="companyDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/company/company-lis">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/company/new">Create New</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="customerDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customer
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="customerDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/customer/customer-list">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/customer/new">Create New</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="invoiceDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Invoice
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="invoiceDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/invoice/invoice-list">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/invoice/new">Create New</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="estimateDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Estimate
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="estimateDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/estimate/estimate-list">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/estimate/new">Create New</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-cog fa-lg"></i>
                </a>
                <div class="dropdown-menu submenu-color dropdown-menu-right dropdown-default"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item submenu-item-color" href="#"><i class="fas fa-user"></i> Account</a>
                    <a class="dropdown-item submenu-item-color" href="#"><i class="fas fa-cog"></i> Setting</a>
                    <a class="dropdown-item submenu-item-color" (click)="onSignOut()"><i class="fas fa-sign-out-alt"></i> Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


