<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#"><img src="../assets/logo.png" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="companyDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Company
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="companyDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/company/company-list">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/company/new">Create New</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="customerDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customer
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="customerDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/customer/customer-list">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/customer/new">Create New</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="invoiceDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Invoice
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="invoiceDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/invoice/invoice-list">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/invoice/new">Create New</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="estimateDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Estimate
                </a>
                <div class="dropdown-menu submenu-color" aria-labelledby="estimateDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/estimate/estimate-list">List</a>
                    <a class="dropdown-item submenu-item-color" routerLink="/estimate/new">Create New</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-cog fa-lg"></i>
                </a>
                <div class="dropdown-menu submenu-color dropdown-menu-right dropdown-default"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item submenu-item-color" routerLink="/users/profile"><i class="fas fa-user"></i> My Account</a>
                    <a class="dropdown-item submenu-item-color" (click)="onShowPassChange()"><i class="fas fa-key"></i> Change Password</a>
                    <a class="dropdown-item submenu-item-color" href="#"><i class="fas fa-cog"></i> Setting</a>
                    <a class="dropdown-item submenu-item-color" (click)="onSignOut()"><i class="fas fa-sign-out-alt"></i> Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--Change Password Modal-->
<div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="modalMessage" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="modalMessageTitle">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-dark">
                    <form class="pl-2 pr-2 mt-1 bg-dark border-dark border" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                            <div class="form-row mt-2 text-light pl-2 pr-2">
                                <div class="form-group col-12">
                                    <label for="oldPassword" class="col-form-label">Old Password*</label>
                                    <input type="password" class="form-control" id="oldPassword" formControlName="old_password"
                                           [ngClass]="{ 'is-invalid': f.old_password.touched && f.old_password.invalid,
                                'is-valid': f.old_password.touched && f.old_password.valid}">
                                    <div *ngIf="f.old_password.touched && f.old_password.errors && passwordCheck" class="invalid-feedback">
                                        The old email is not correct
                                    </div>
                                    <div *ngIf="f.old_password.touched && f.old_password.invalid && !passwordCheck" class="invalid-feedback">
                                        Old Password is a mandatory field
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2 text-light pl-2 pr-2">
                                <div class="form-group col-12">
                                    <label for="newPassword" class="col-form-label">New Password*</label>
                                    <input type="password" class="form-control" id="newPassword" formControlName="password"
                                           [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid,
                                'is-valid': f.password.touched && f.password.valid}">
                                    <div *ngIf="f.password.touched && f.password.invalid" class="invalid-feedback">
                                        New Password is a mandatory field, Password should be between 6 to 15 characters and must have contain uppercase, lowercase and digit
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2 text-light pl-2 pr-2">
                                <div class="form-group col-12">
                                    <label for="confirmNewPassword" class="col-form-label">Confirm New Password*</label>
                                    <input type="password" class="form-control" id="confirmNewPassword"
                                           formControlName="confirm_new_password"
                                           [ngClass]="{ 'is-invalid': f.confirm_new_password.touched && f.confirm_new_password.invalid,
                                'is-valid': f.confirm_new_password.touched && f.confirm_new_password.valid}">
                                    <div *ngIf="f.confirm_new_password.touched && f.confirm_new_password.invalid" class="invalid-feedback">
                                        Password mismatch
                                    </div>
                                    <input type="text" formControlName="id" hidden>
                                </div>
                            </div>
                    </form>
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="submitMessageStatusFail" class="invalid-feedback-manual text-center">
                            {{ submitMessage }}
                        </div>
                        <div *ngIf="submitMessageStatusSuccess" class="valid-feedback-manual text-center">
                            {{ submitMessage }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" (click)="sendEmail()">Send Email</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
            </div>
        </div>
    </div>
</div>


