<div class="container mt-4 bg-dark mb-4">
    <div class="row pt-2">
        <div class="col-lg-1 col-md-2 col-4">
            <button type="button" class="btn btn-block btn-warning text-light "
                    title="Back" (click)="onBack()"><i class="fas fa-arrow-circle-left fa-lg"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-light pt-1">{{pageTitle}}</h3>
        </div>
    </div>
    <form class="pl-2 pr-2 mt-1 bg-dark border-dark border" [formGroup]="settingForm" (ngSubmit)="onSubmit()">
        <div class="border border-light">
            <div class="form-row text-light pl-2 pr-2 font-weight-bold"> <!--Title-->
                <div class="col-md-1 col-6">
                    <label class="col-form-label">Show</label>
                </div>
                <div class="col-md-2 col-6">
                    <label class="col-form-label">Current Label</label>
                </div>
                <div class="col-md-4 col-12">
                    <label class="col-form-label">New Label</label>
                </div>
                <div class="col-md-3 col-6">
                    <label class="col-form-label">Type</label>
                </div>
                <div class="col-md-2 col-6">
                    <label  class="col-form-label">Percentage</label>
                </div>
            </div> <!--Title-->
            <hr class="bg-light">
            <div class="form-row pl-2 pr-2 text-light"> <!--Discount 1-->
                <div class="col-md-1 col-6">
                        <input type="checkbox" class="ml-3 mt-3 "
                               formControlName="deduction1status" value="0">
                </div>
                <div class="col-md-2 col-6">
                    <label class="col-form-label">{{settingInfo?.deduction1label}}</label>
                </div>
                <div class="col-md-4 col-12">
                    <input type="text" class="form-control" formControlName="deduction1label"
                           [ngClass]="{ 'is-invalid': f.deduction1label.touched && f.deduction1label.invalid,
                                    'is-valid': f.deduction1label.valid}">
                    <div *ngIf="f.deduction1label.touched && f.deduction1label.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                    <div *ngIf="f.deduction1label.touched && f.deduction1label.errors?.maxlength" class="invalid-feedback">
                        Maximum allowed characters are 30
                    </div>
                    <div *ngIf="f.deduction1label.touched && f.deduction1label.errors?.pattern" class="invalid-feedback">
                        Invalid characters
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <select class="form-control" formControlName="deduction1type"
                            (change)="onSetPercentage('deduction1percentage', $event)">
                        <option *ngFor="let tOption of typeOptions" value="{{tOption.typeCode}}">{{tOption.typeName}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="number" class="form-control" formControlName="deduction1percentage"
                           [ngClass]="{ 'is-invalid': f.deduction1percentage.touched && f.deduction1percentage.invalid,
                                    'is-valid': f.deduction1percentage.valid}"
                                    [attr.disabled]="f.deduction1type.value === 'F' ? 'disabled' : null">
                    <div *ngIf="f.deduction1percentage.touched && f.deduction1percentage.errors?.max" class="invalid-feedback">
                        The value must be between 0.00 to 100.00
                    </div>
                    <div *ngIf="f.deduction1percentage.touched && f.deduction1percentage.errors?.pattern" class="invalid-feedback">
                        Invalid percentage
                    </div>
                    <div *ngIf="f.deduction1percentage.touched && f.deduction1percentage.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                </div>
            </div> <!--Discount 1-->
            <div class="form-row pl-2 pr-2 text-light"> <!--Discount 2-->
                <div class="col-md-1 col-6">
                    <input type="checkbox" class="ml-3 mt-3 "
                           formControlName="deduction2status">
                </div>
                <div class="col-md-2 col-6">
                    <label class="col-form-label">{{settingInfo?.deduction2label}}</label>
                </div>
                <div class="col-md-4 col-12">
                    <input type="text" class="form-control" formControlName="deduction2label"
                           [ngClass]="{ 'is-invalid': f.deduction2label.touched && f.deduction2label.invalid,
                                    'is-valid': f.deduction2label.valid}">
                    <div *ngIf="f.deduction2label.touched && f.deduction2label.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                    <div *ngIf="f.deduction2label.touched && f.deduction2label.errors?.maxlength" class="invalid-feedback">
                        Maximum allowed characters are 30
                    </div>
                    <div *ngIf="f.deduction2label.touched && f.deduction2label.errors?.pattern" class="invalid-feedback">
                        Invalid characters
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <select class="form-control" formControlName="deduction2type"
                            (change)="onSetPercentage('deduction2percentage', $event)">
                        <option *ngFor="let topt of typeOptions" value="{{topt.typeCode}}">{{topt.typeName}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="number" class="form-control" formControlName="deduction2percentage"
                           [ngClass]="{ 'is-invalid': f.deduction2percentage.touched && f.deduction2percentage.invalid,
                                    'is-valid': f.deduction2percentage.valid}"
                           [attr.disabled]="f.deduction2type.value === 'F' ? 'disabled' : null">
                    <div *ngIf="f.deduction2percentage.touched && f.deduction2percentage.errors?.max" class="invalid-feedback">
                        The value must be between 0.00 to 100.00
                    </div>
                    <div *ngIf="f.deduction2percentage.touched && f.deduction2percentage.errors?.pattern" class="invalid-feedback">
                        Invalid percentage
                    </div>
                    <div *ngIf="f.deduction2percentage.touched && f.deduction2percentage.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                </div>
            </div> <!--Discount 2-->
            <div class="form-row pl-2 pr-2 text-light"> <!--Tax 1-->
                <div class="col-md-1 col-6">
                    <input type="checkbox" class="ml-3 mt-3 "
                           formControlName="addition1status">
                </div>
                <div class="col-md-2 col-6">
                    <label class="col-form-label">{{settingInfo?.addition1label}}</label>
                </div>
                <div class="col-md-4 col-12">
                    <input type="text" class="form-control" formControlName="addition1label"
                           [ngClass]="{ 'is-invalid': f.addition1label.touched && f.addition1label.invalid,
                                    'is-valid': f.addition1label.valid}">
                    <div *ngIf="f.addition1label.touched && f.addition1label.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                    <div *ngIf="f.addition1label.touched && f.addition1label.errors?.maxlength" class="invalid-feedback">
                        Maximum allowed characters are 30
                    </div>
                    <div *ngIf="f.addition1label.touched && f.addition1label.errors?.pattern" class="invalid-feedback">
                        Invalid characters
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <select class="form-control" formControlName="addition1type"
                            (change)="onSetPercentage('addition1percentage', $event)">
                        <option *ngFor="let topt of typeOptions" value="{{topt.typeCode}}">{{topt.typeName}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="number" class="form-control" formControlName="addition1percentage"
                           [ngClass]="{ 'is-invalid': f.addition1percentage.touched && f.addition1percentage.invalid,
                                    'is-valid': f.addition1percentage.valid}"
                           [attr.disabled]="f.addition1type.value === 'F' ? 'disabled' : null">
                    <div *ngIf="f.addition1percentage.touched && f.addition1percentage.errors?.max" class="invalid-feedback">
                        The value must be between 0.00 to 100.00
                    </div>
                    <div *ngIf="f.addition1percentage.touched && f.addition1percentage.errors?.pattern" class="invalid-feedback">
                        Invalid percentage
                    </div>
                    <div *ngIf="f.addition1percentage.touched && f.addition1percentage.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                </div>
            </div> <!--Tax 1-->
            <div class="form-row pl-2 pr-2 text-light"> <!--Tax 2-->
                <div class="col-md-1 col-6">
                        <input type="checkbox" class="ml-3 mt-3" formControlName="addition2status">
                </div>
                <div class="col-md-2 col-6">
                    <label class="col-form-label">{{settingInfo?.addition2label}}</label>
                </div>
                <div class="col-md-4 col-12">
                    <input type="text" class="form-control" formControlName="addition2label"
                           [ngClass]="{ 'is-invalid': f.addition2label.touched && f.addition2label.invalid,
                                    'is-valid': f.addition2label.valid}">
                    <div *ngIf="f.addition2label.touched && f.addition2label.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                    <div *ngIf="f.addition2label.touched && f.addition2label.errors?.maxlength" class="invalid-feedback">
                        Maximum allowed characters are 30
                    </div>
                    <div *ngIf="f.addition2label.touched && f.addition2label.errors?.pattern" class="invalid-feedback">
                       Invalid characters
                    </div>
                </div>
                <div class="col-md-3 col-">
                    <select class="form-control" formControlName="addition2type"
                            (change)="onSetPercentage('addition2percentage', $event)">
                        <option *ngFor="let topt of typeOptions" value="{{topt.typeCode}}">{{topt.typeName}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="number" class="form-control" formControlName="addition2percentage"
                           [ngClass]="{ 'is-invalid': f.addition2percentage.touched && f.addition2percentage.invalid,
                                    'is-valid': f.addition2percentage.valid}"
                           [attr.disabled]="f.addition2type.value === 'F' ? 'disabled' : null">
                    <div *ngIf="f.addition2percentage.touched && f.addition2percentage.errors?.max" class="invalid-feedback">
                        The value must be between 0.00 to 100.00
                    </div>
                    <div *ngIf="f.addition2percentage.touched && f.addition2percentage.errors?.pattern" class="invalid-feedback">
                        Invalid percentage
                    </div>
                    <div *ngIf="f.addition2percentage.touched && f.addition2percentage.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                </div>
            </div> <!--Tax 2-->
            <div class="form-row pl-2 pr-2 text-light"> <!--Tax 3-->
                <div class="col-md-1 col-6">
                    <input type="checkbox" class="ml-3 mt-3" formControlName="addition3status">
                </div>
                <div class="col-md-2 col-6">
                    <label class="col-form-label">{{settingInfo?.addition3label}}</label>
                </div>
                <div class="col-md-4 col-12">
                    <input type="text" class="form-control" formControlName="addition3label"
                           [ngClass]="{ 'is-invalid': f.addition3label.touched && f.addition3label.invalid,
                                    'is-valid': f.addition3label.valid}">
                    <div *ngIf="f.addition3label.touched && f.addition3label.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                    <div *ngIf="f.addition3label.touched && f.addition3label.errors?.maxlength" class="invalid-feedback">
                        Maximum allowed characters are 30
                    </div>
                    <div *ngIf="f.addition3label.touched && f.addition3label.errors?.pattern" class="invalid-feedback">
                        Invalid characters
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <select class="form-control" formControlName="addition3type"
                            (change)="onSetPercentage('addition3percentage', $event)">
                        <option *ngFor="let tOption of typeOptions" value="{{tOption.typeCode}}">{{tOption.typeName}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="number" class="form-control" formControlName="addition3percentage"
                           [ngClass]="{ 'is-invalid': f.addition3percentage.touched && f.addition3percentage.invalid,
                                    'is-valid': f.addition3percentage.valid}"
                           [attr.disabled]="f.addition3type.value === 'F' ? 'disabled' : null">
                    <div *ngIf="f.addition3percentage.touched && f.addition3percentage.errors?.max" class="invalid-feedback">
                        The value must be between 0.00 to 100.00
                    </div>
                    <div *ngIf="f.addition3percentage.touched && f.addition3percentage.errors?.pattern" class="invalid-feedback">
                        Invalid percentage
                    </div>
                    <div *ngIf="f.addition3percentage.touched && f.addition3percentage.errors?.required" class="invalid-feedback">
                        This field is mandatory
                    </div>
                </div>
            </div> <!--Tax 3-->
            <div class="form-row pl-2 pr-2 text-light"> <!--Currency-->
                <div class="offset-md-1 col-md-2 col-6">
                    <label for="currency" class="col-form-label">Currency</label>
                </div>
                    <div class="col-md-4 col-6">
                        <select class="form-control" #ch formControlName="currency" id="currency"
                                (change)= "changeCurrency(ch.value)">
                            <option *ngFor="let cr of currency" value="{{cr.currencyCode}}">
                               {{cr.currencyName}}</option>
                        </select>
                        <input type="text" formControlName="id" hidden>
                    </div>
                <div class="col-lg-2 col-md-3 col-12 mt-1 text-center">
                    <p>{{selectedCurrencyCode}} {{selectedCurrencySymbol}}
                        <img src="{{selectedCurrencyImage}}" alt="" class="rounded "></p>
                </div>
            </div> <!--Currency-->
            <div class="form-row pl-2 pr-2 text-light mt-1"> <!--Legend-->
                <div class="col-12">
                    <p>* <strong>{{settingInfo?.deduction1label}}</strong> is calculated based on Sub-Total amount<br>
                        * <strong>{{settingInfo?.deduction2label}}</strong>  is calculated based on Sub-Total - Discount 1<br>
                        * <strong>{{settingInfo?.addition1label}}</strong>, <strong>{{settingInfo?.addition2label}}</strong>
                        and <strong>{{settingInfo?.addition3label}}</strong> is calculated based on Sub-Total - Discount 1 - Discount 2<br>
                        * This setting is implemented on new Invoice\Estimate (each saved Invoice\Estimate have their saved setting)
                    </p>
                </div>
            </div> <!--Legend-->
        </div>
        <div class="form-group row mt-1">
            <div class="col-md-2 offset-md-5 col-4 offset-4 text-center">
                <button type="submit" class="btn btn-primary btn-block mb-1" [disabled]="processing ? 'disabled' : null">
                    Modify</button>
                <ngx-loading-bar [color]="'blue'" [fixed]="false"></ngx-loading-bar>
            </div>
            <div class="col-md-5 col-12 text-center">
                <div *ngIf="submitMessageStatusFail" class="invalid-feedback-manual">
                    {{ submitMessage }}
                </div>
                <div *ngIf="submitMessageStatusSuccess" class="valid-feedback-manual">
                    {{ submitMessage }}
                </div>
            </div>
        </div>
    </form>
</div>
