<div class="container-fluid" style="height: 100vh">
    <div class="row bg-dark">
        <div class="col-12">
            <a href="http://www.einvoicemaker.com"><img src="./assets/sitelogo.png"
                                                        class="img-fluid img pt-2 pb-2" alt="Easy_Invoice_Maker"></a>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 text-center mt-5 mb-md-3">
            <h1 class="user-header-h1"><i class="fas fa-sign-in-alt fa-1x"></i> Easy Invoice Maker - Sign in</h1>
        </div>
    </div>
    <form class="bg-dark text-light border-dark border col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12"
          [formGroup]="fillForm" (ngSubmit)="onSubmit()">
        <div class="form-row pr-2 pl-2 pt-2">
            <label for="email" class="col-form-label">Email*</label>
            <input type="text" class="form-control" id="email" formControlName="email" (change)="whiteSpace(f.email)">
        </div>
        <div class="form-row pr-2 pl-2 pt-2">
            <label for="password" class="col-form-label">Password*</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="form-row pr-2 pl-2 pb-3 pt-3">
            <div class="col-md-6 offset-md-3 col-12 text-center mb-1">
                <button type="submit" class="btn btn-primary btn-block mb-1"
                    [attr.disabled]="progressing ? 'disabled' : null">Sign in</button>
                <ngx-loading-bar ref="http" [color]="'blue'" [fixed]="false"></ngx-loading-bar>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
            <p>Do not have an account? <a [routerLink]="['/users/signup']">Sign up</a> <br>
                <a [routerLink]="['/users/forgetpassword']">Forget Password</a>
                | <a href="http://www.einvoicemaker.com">Home</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12" *ngIf="failStatus">
            <div class="card border border-danger">
                <div class="card-header text-danger">
                    <h5><i class="fas fa-exclamation-triangle fa-1x"></i> Login Failed</h5>
                </div>
                <div class="card-body" [innerHTML] = "errorMessage">
                </div>
            </div>
        </div>
    </div>
</div>
