<ngx-loading-bar></ngx-loading-bar>
<div class="container-fluid" style="height: 100vh">
    <div class="row bg-dark">
        <div class="col-12">
            <a href="http://www.einvoicemaker.com"><img src="../../../assets/sitelogo.png"
                                                        class="img-fluid img pt-2 pb-2" alt="Easy_Invoice_Maker"></a>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 text-center mt-5 mb-md-3">
            <h1 class="user-header-h1">Easy Invoice Maker - Reset Password</h1>
        </div>
    </div>
    <form class="bg-dark text-light border-dark border col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12" [formGroup]="resetPasswordForm"
          (ngSubmit)="onSubmit()" *ngIf="accessCodeExisted">
        <div class="form-row pr-2 pl-2 pt-2">
            <label for="password" class="col-form-label">Password*</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                   [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid,
                            'is-valid': f.password.valid}">
            <div *ngIf="f.password.touched && f.password.errors?.required" class="invalid-feedback">
                Enter your new password
            </div>
            <div *ngIf="f.password.touched && f.password.errors?.pattern" class="invalid-feedback">
                Password should be between 6 to 15 characters and must contain lowercase, uppercase and digit
            </div>
        </div>
        <div class="form-row pr-2 pl-2 pt-2">
            <label for="confirmPassword" class="col-form-label">Confirm Password*</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                   [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.invalid,
                            'is-valid': f.confirmPassword.valid}">
            <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.required" class="invalid-feedback">
                Enter your new password again
            </div>
            <div *ngIf="f.confirmPassword.touched && !f.confirmPassword.errors?.MustMatch
                        && !f.confirmPassword.errors?.required" class="invalid-feedback">
                Password mismatch
            </div>
            <input type="text" formControlName="access_code" hidden>
        </div>
        <div class="form-row pr-2 pl-2 pb-3 pt-3">
            <div class="col-md-6 offset-md-3 col-12 text-center">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
            <p><a [routerLink]="['/users/signin']">Sign in</a> | <a [routerLink]="['/users/signup']">Sign up</a> |
                <a href="http://www.einvoicemaker.com">Home</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12" *ngIf="failStatus || successStatus">
            <div class="card border"
                 [ngClass]="{ 'border-danger': failStatus, 'border-success': successStatus}">
                <div class="card-header"
                     [ngClass]="{ 'text-danger': failStatus, 'text-success': successStatus}">
                    <h5 *ngIf="failStatus"><i class="fas fa-exclamation-triangle fa-1x"></i> Error</h5>
                    <h5 *ngIf="successStatus"><i class="far fa-check-circle fa-1x"></i> Reset Password</h5>
                </div>
                <div class="card-body" [innerHTML] = "errorMessage">
                </div>
            </div>
        </div>
    </div>
</div>
