<ngx-loading-bar></ngx-loading-bar>
<div class="container-fluid" style="height: 100vh">
    <div class="row bg-dark">
        <div class="col-12">
            <a href="http://www.einvoicemaker.com"><img src="../../../assets/sitelogo.png"
                                                        class="img-fluid img pt-2 pb-2" alt="Easy_Invoice_Maker"></a>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 text-center mt-5 mb-md-3">
            <h1 class="user-header-h1"><i class="fas fa-user-plus fa-1x"></i> Easy Invoice Maker - Sign up</h1>
        </div>
    </div>
    <form class="bg-dark text-light border-dark border col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12" [formGroup]="fillForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                <label for="firstName" class="col-form-label">First Name*</label>
                <input type="text" class="form-control" id="firstName" formControlName="first_name"
                       [ngClass]="{ 'is-invalid': f.first_name.touched && f.first_name.invalid,
                                    'is-valid': f.first_name.touched && f.first_name.valid}">
                <div *ngIf="f.first_name.touched && f.first_name.errors?.required" class="invalid-feedback">
                    This field is mandatory
                </div>
                <div *ngIf="f.first_name.touched && f.first_name.errors?.maxlength" class="invalid-feedback">
                    Maximum 50 characters allowed
                </div>
                <div *ngIf="f.first_name.touched && f.first_name.errors?.pattern" class="invalid-feedback">
                    Invalid characters
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="lastName" class="col-form-label">Last Name*</label>
                <input type="text" class="form-control" id="lastName" formControlName="last_name"
                       [ngClass]="{ 'is-invalid': f.last_name.touched && f.last_name.invalid,
                                    'is-valid': f.last_name.touched && f.last_name.valid}">
                <div *ngIf="f.last_name.touched && f.last_name.errors?.required" class="invalid-feedback">
                    This field is mandatory
                </div>
                <div *ngIf="f.last_name.touched && f.last_name.errors?.maxlength" class="invalid-feedback">
                    Maximum 50 characters allowed
                </div>
                <div *ngIf="f.last_name.touched && f.last_name.errors?.pattern" class="invalid-feedback">
                    Invalid characters
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                <label for="email" class="col-form-label">Email*</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                       [ngClass]="{ 'is-invalid': f.email.touched && f.email.invalid,
                                    'is-valid': f.email.touched && f.email.valid}">
                <div *ngIf="f.email.touched && f.email.errors?.required" class="invalid-feedback">
                    This field is mandatory
                </div>
                <div *ngIf="f.email.touched && f.email.errors?.email" class="invalid-feedback">
                    Invalid email format (yourname@domain.com)
                </div>
                <div *ngIf="f.email.touched && f.email.invalid && emailexist" class="invalid-feedback">
                    Email already registered
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="confirmEmail" class="col-form-label">Confirm Email*</label>
                <input type="email" class="form-control" id="confirmEmail" formControlName="confirmEmail"
                       [ngClass]="{ 'is-invalid': f.confirmEmail.touched && f.confirmEmail.invalid,
                                    'is-valid': f.confirmEmail.touched && f.confirmEmail.valid}">
                <div *ngIf="f.confirmEmail.touched && f.confirmEmail.errors?.required" class="invalid-feedback">
                    This field is mandatory
                </div>
                <div *ngIf="f.confirmEmail.touched && !f.confirmEmail.errors?.MustMatch &&
                            !f.confirmEmail.errors?.required" class="invalid-feedback">
                    Email Mismatch
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                <label for="password" class="col-form-label">Password*</label>
                <input type="password" class="form-control" id="password" formControlName="password"
                       [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid,
                                    'is-valid': f.password.touched && f.password.valid}">
                <div *ngIf="f.password.touched && f.password.errors?.required" class="invalid-feedback">
                    This field is mandatory
                </div>
                <div *ngIf="f.password.touched && f.password.errors?.pattern" class="invalid-feedback">
                    Password should be between 6 to 15 characters and must contain lowercase, uppercase and digit
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="confirmPassword" class="col-form-label">Confirm Password*</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                       [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.invalid,
                                    'is-valid': f.confirmPassword.touched && f.confirmPassword.valid}">
                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.required" class="invalid-feedback">
                    Enter your password again
                </div>
                <div *ngIf="f.confirmPassword.touched && !f.confirmPassword.errors?.MustMatch
                        && !f.confirmPassword.errors?.required" class="invalid-feedback">
                    Password mismatch
                </div>
            </div>

            <input type="text" class="form-control" id="contact_number" formControlName="contact_number" hidden>
            <input type="text" class="form-control" id="address1" formControlName="address1" hidden>
            <input type="text" class="form-control" id="address2" formControlName="address2" hidden>
            <input type="text" class="form-control" id="city" formControlName="city" hidden>
            <input type="text" class="form-control" id="province" formControlName="province" hidden>
            <input type="text" class="form-control" id="country" formControlName="country" hidden>
            <input type="text" class="form-control" id="postalCode" formControlName="postal_code" hidden>
        </div>
        <div class="form-group row mt-2">
            <div class="col-md-4 offset-md-4 col-sm-12 text-center">
                <button type="submit" class="btn btn-primary btn-block" >Sign up</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
            <p>Already have an account? <a [routerLink]="['/users/signin']">Sign in</a> | <a href="http://www.einvoicemaker.com">Home</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12" *ngIf="failStatus || successStatus">
            <div class="card border"
                 [ngClass]="{ 'border-danger': failStatus, 'border-success': successStatus}">
                <div class="card-header"
                     [ngClass]="{ 'text-danger': failStatus, 'text-success': successStatus}">
                    <h5 *ngIf="failStatus"><i class="fas fa-exclamation-triangle fa-1x"></i> Error</h5>
                    <h5 *ngIf="successStatus"><i class="far fa-check-circle fa-1x"></i> Sign-up Successfull</h5>
                </div>
                <div class="card-body" [innerHTML] = "errorMessage">
                </div>
            </div>
        </div>
    </div>
</div>
