<div class="container-fluid pl-3 pr-3">
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h6>Hi {{userName}}, welcome to your Easy Invoice Maker profile</h6>
        </div>
    </div>
    <form [formGroup]="dashboardForm" (ngSubmit)="onSubmit()">
        <div class="form-row mt-2">
            <div class="col-md-1 col-3">
                <label for="yearSelect">Year</label>
            </div>
            <div class="col-md-3 col-8">
                <select class="browser-default custom-select" id="yearSelect" formControlName="year"
                        (change)="onSubmit()">
                    <option *ngFor="let years of invoiceYear" value="{{years}}">{{years}}</option>
                </select>
                <input type="text" formControlName="user_id" hidden>
            </div>
            <div class="col-1">
                <ngx-loading-bar ref="http" [color]="'blue'" [fixed]="false"></ngx-loading-bar>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col-md-1 col-3">
                <label for="companySelect">Company</label>
            </div>
            <div class="col-md-3 col-8">
                <select class="browser-default custom-select" id="companySelect" formControlName="company_id"
                        (change)="onSubmit()">
                    <option *ngFor="let company of companyList" value="{{company.id}}">{{company.name}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row mt-2 align-items-center">
        <div class="col-md-6 col-12">
            <mdb-card>
                <h5 class="card-header">Amount of Issued Invoice</h5>
                <mdb-card-body>
                    <div class="d-block">
                        <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasetsAmount"
                                [labels]="chartLabels"
                                [colors]="chartColors"
                                [options]="chartOptions"
                                [legend]="false"
                                (chartHover)="chartHovered1($event)"
                                (chartClick)="chartClicked1($event)">
                        </canvas>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-6 col-12">
            <mdb-card>
                <h5 class="card-header">Number of Issued Invoice</h5>
                <mdb-card-body>
                    <div class="d-block">
                        <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasetsCount"
                                [labels]="chartLabels"
                                [colors]="chartColors"
                                [options]="chartOptions"
                                [legend]="false"
                                (chartHover)="chartHovered2($event)"
                                (chartClick)="chartClicked2($event)">
                        </canvas>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

</div>
