<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h6>Hi {{userName}}, welcome to your Easy Invoice Maker profile</h6>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-1 col-2">
            <label for="yearselect">Year</label>
        </div>
        <div class="col-md-3 col-8">
            <select class="browser-default custom-select" id="yearselect">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-1 col-2">
            <label for="companySelect">Company</label>
        </div>
        <div class="col-md-3 col-8">
            <select class="browser-default custom-select" id="companySelect">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col-md-6 col-12">
            <div style="display: block">
                <canvas mdbChart
                        [chartType]="chartType1"
                        [datasets]="chartDatasets1"
                        [labels]="chartLabels1"
                        [colors]="chartColors1"
                        [options]="chartOptions1"
                        [legend]="true"
                        (chartHover)="chartHovered1($event)"
                        (chartClick)="chartClicked1($event)">
                </canvas>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="ih-item circle effect10 top_to_bottom"><a href="#">
                <div class="img"><img src="assets/images/Desert.jpg" alt="img"></div>
                <div class="info">
                    <h3>New Invoice</h3>
                    <p>to make a new invoice click here</p>
                </div></a>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="ih-item circle effect10 top_to_bottom"><a href="#">
                <div class="img"><img src="assets/images/Desert.jpg" alt="img"></div>
                <div class="info">
                    <h3>New Estimate</h3>
                    <p>to make a new estimate click here</p>
                </div></a>
            </div>
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col-md-6 col-12">
            <div style="display: block">
                <canvas mdbChart
                        [chartType]="chartType2"
                        [datasets]="chartDatasets2"
                        [labels]="chartLabels2"
                        [colors]="chartColors2"
                        [options]="chartOptions2"
                        [legend]="true"
                        (chartHover)="chartHovered2($event)"
                        (chartClick)="chartClicked2($event)">
                </canvas>
            </div>
        </div>
        <div class="col-md-3 col-6 ">
            <div class="ih-item circle effect10 top_to_bottom"><a href="#">
                <div class="img"><img src="assets/images/Desert.jpg" alt="img"></div>
                <div class="info">
                    <h3>New Invoice</h3>
                    <p>to make a new invoice click here</p>
                </div></a>
            </div>
        </div>
        <div class="col-md-3 col-6 align-middle">
            <div class="ih-item circle effect10 top_to_bottom"><a href="#">
                <div class="img"><img src="assets/images/Desert.jpg" alt="img"></div>
                <div class="info">
                    <h3>New Estimate</h3>
                    <p>to make a new estimate click here</p>
                </div></a>
            </div>
        </div>
    </div>
</div>
